<h2>ERROR 404</h2>


<!-- <h2>com csrf Token</h2>

<form method="POST" action="/">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input type="text">
  <button type="submit">Enviar</button>
</form>

<h2>sem csrf Token </h2>

<form method="POST" action="/">
  <input type="text">
  <button type="submit">Enviar</button>
</form> -->